# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
instance/

# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Dependency directories
venv/
env/
env.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Database files
*.db
*.sqlite3
